<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include partials/_header %>
 <form action="/urls/<%= shortURL %>" method="post">
    <h2>Edit this urls</h2>
    <p>
      <label for="url">ShortURL</label>
      <input id="longUrl" name="Url">
    </p>
    <p>
      <button>Update</button>
    </p>
  </form>
</li>


</body>
</html>
