
<h2>Login page</h2>
<%= username %>
<p>
  <form action="/login" method="POST">
    <label for="username">Name</label>
    <input name="username" />
    <button type="submit">Submit</button>
  </form>
</p>